.mainSideBar {
    width: 250px;
    height: 90vh;
    position: fixed;
    border-radius: 20px;
    top: 0;
    left: 0;
    margin: 20px;
    padding-bottom: 5px;
    padding-top: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow:scroll
}

.mainSideBar::-webkit-scrollbar{
    display: none;
}

.itemElement {
    animation: slideIn 0.5s;
    animation-timing-function: ease-in-out;

}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%)
    
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

.itemElement:hover {
    opacity: 80%;
}

@media  screen and (max-width: 768px) {
    .mainSideBar {
            margin-top: 60px;
            animation: slideLeft 0.5s forwards !important;

    }

    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(-100%)
        
        }        to{
            opacity: 1;
            transform: translateX(0)    
    }
}
    
}